<nav class="menu">
    <div class="W_MainSection">
        <%= link_to "Учебник", tutorial_index_path, id: "menu_tutorial" %>
        <%= link_to "Статьи", articles_index_path, id: "menu_articles" %>
        <%= link_to "О нас", about_path, id: "menu_about" %>
        <%= link_to "Коммьюнити", community_path, id: "menu_community" %>
    </div>

    <div id="menu_user">
        <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %>
        <%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %>
        <% else %>
        <%= link_to "Войти", new_user_session_path %>
        <%= link_to "Зарегистрироваться", new_user_registration_path %>
        <% end %>
    </div>
</nav>