<div class="body_about">
  <div id="custom-cursor"></div>
  <video autoplay muted loop playsinline id="bg-video">
    <source src="<%= asset_path('a_facts_bg_video.mp4') %>" type="video/mp4">
  </video>
  <div class="ruler_grid"></div>
  <%# ------------------SLIDER--------------------------------------- %>
  <div class="slider_container">
    <div class="content_wrapper">
      <div class="content-before"></div>
      <div class="content-after">
        <div class="about_main_container">
          <div class="about_columns" id="no_border">
            <h1>Образовательное медиа о&nbsp;визуальных эффектах в&nbsp;киноиндустрии</h1>
            <p>Наш сервис предназначен для&nbsp;молодых креаторов, которые&nbsp;только начинают свой путь в&nbsp;сфере VFX, интересуются созданием киноискусства и&nbsp;тайнами съемки захватывающих сцен.</p>
          </div>
          <div class="about_columns">
            <div class="second_column">
              <div>
                <h1>Миссия</h1>
                <p>Раскрывать механику визуальных эффектов и&nbsp;помогать новым специалистам превращать вдохновение в&nbsp;профессию.</p>
              </div>
              <div>
                <h1>Ценности</h1>
                <p>Нам важно взаимоуважение с&nbsp;нашей аудиторией, поддержка с&nbsp;нашей стороны
                  и&nbsp;доверие. Мы&nbsp;стараемся сделать наш&nbsp;проект ясным, полезным и&nbsp;вдохновляющим.</p>
              </div>
            </div>
          </div>
          <div class="about_columns">
            <h1>Команда</h1>
            <ul class="team_list">
              <a href="https://t.me/naranzzaya" target="_blank" rel="noopener noreferrer">
                <li class="team">
                  <img src="<%= asset_path('team_zay') %>" alt="Логотип">
                  <p>Наранзаяа Оюунбаатар</p>
                  <img src="<%= asset_path('arrow_link') %>" class="arrow_link" alt="Логотип">
                </li>
              </a>
              <a href="https://t.me/skmariia" target="_blank" rel="noopener noreferrer">
                <li class="team">
                  <img src="<%= asset_path('team_masha') %>" alt="Логотип">
                  <p>Скрипнюк Мария</p>
                  <img src="<%= asset_path('arrow_link') %>" class="arrow_link" alt="Логотип">
                </li>
              </a>
              <a href="https://t.me/veqqup" target="_blank" rel="noopener noreferrer">
                <li class="team">
                  <img src="<%= asset_path('team_dasha') %>" alt="Логотип">
                  <p>Якутина Дарья</p>
                  <img src="<%= asset_path('arrow_link') %>" class="arrow_link" alt="Логотип">
                </li>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="slider-handle">
        <div></div>
      </div>
    </div>
  </div>
</div>
<script>
  const ruler = document.querySelector('.ruler_grid')
  const count = 108
  for (let i = 0; i < count; i++) {
      const line = document.createElement('div')
      line.className = 'ruler-line'
      ruler.appendChild(line)
  }

  // ------------------------------------
  const contentAfter = document.querySelector('.content-after');
  const handle = document.querySelector('.slider-handle');
  window.addEventListener('scroll', () => {
      const scrollTop = window.scrollY;
      const windowHeight = window.innerHeight;
      const progress = Math.min(scrollTop / windowHeight, 1);
      if (contentAfter) {
          contentAfter.style.clipPath = `inset(0 calc(${100 - progress * 100}% - 2rem) 0 0)`;
      }
      if (handle) {
          handle.style.left = `calc(${progress * 100}% + 2rem)`;
      }
  });

  // const cursor = document.getElementById('custom-cursor');
  // const colors = ['#9cff5b', '#fdff6e', '#ff78ff', '#6af5ff'];
  // let colorIndex = 0;
  // window.addEventListener('mousemove', (e) => {
  //     cursor.style.top = e.clientY + 'px';
  //     cursor.style.left = e.clientX + 'px';
  // });
  // setInterval(() => {
  //     colorIndex = (colorIndex + 1) % colors.length;
  //     cursor.style.backgroundColor = colors[colorIndex];
  // }, 200);
</script>