<div class="auth-layout">
    <div class="auth-visual">
        <%= image_tag "auth_back.png", alt: "", class: "auth-visual__img" %>
    </div>

    <div class="auth-form">
        <section class="auth-title-section">
            <h1 class="auth-title">Привет</h1>
            <p class="auth-description">
                Авторизуйся, чтобы составлять подборки, <br>проходить обучение и участвовать<br> в обсуждениях
            </p>
        </section>

        <section class="auth-down-part">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form-inner" }) do |f| %>

            <div class="auth-field-button">
                <div class="auth-fields">
                    <div class="auth-field">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "auth-input" %>
                    </div>

                    <div class="auth-field">
                        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль", class: "auth-input" %>
                    </div>
                </div>

                <div class="auth-actions">
                    <%= f.submit "Войти", class: "btn-primary auth-submit" %>
                </div>
            </div>

            <section class="auth-signup-suggest">
                <p>Ещё нет аккаунта?</p>
                <%= link_to "Присоединиться", new_user_registration_path, class: "auth-signup-link" %>
            </section>

            <% end %>
        </section>
    </div>
</div>